/***********************/
/********SHARED*********/
/***********************/

body {
	padding: 0px;
	margin: 0px;
}

body, .content strong {
	font-family: 'Euphoria Script', cursive;
}

#navbar a, .content  p {
	font-family: Helvetica, Arial, sans-serif;
}

a, body {
	color: rgb(2, 132, 130);
}

a {
	text-decoration: none;
}

a:hover {
	color: rgb(255, 102, 102);
}

.content {
	margin-top: 50px;
	width: 40%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.content  h1 {
	text-align: center;
	margin: 10px;
	font-size: 48pt;
}

.content  p {
	font-size: 16pt;
	text-align: justify;
}


.content  p > strong {
	font-size: 24pt;
}

.indent {
	text-indent: 50px;
}

.centered {
	display: inline-block;
}

/***********************/
/********HEADER*********/
/***********************/

#navbar {
	position: fixed;
	padding: 20px;
	width: 100%;
	box-shadow: 0px 1px 1px grey;
	text-align: center;
	background-color: white;
}

#navbar a {
	padding: 10px;
	font-size: 16pt;
}

#stylebar {
	text-align: center;
	background-image: url("pictures/cupcake.jpg");
	box-shadow: 0px 5px 5px grey;
	padding-top: 65px;
}

#stylebar h1 {
	display: inline;
	font-size: 7vw;
	font-weight: normal;
}

#stylebar img {
	padding: 10px;
	vertical-align: middle;
	height: 15vw;
}

#stylebar div {
	background-color: rgba(255, 102, 102, 0.9);
}

/***********************/
/*********INDEX*********/
/***********************/

#imgbox {
	margin-top: 50px;
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	overflow: hidden;
}

#imgbox img {
	display: inline-block;
	padding: 0px;
	margin: 0px;

	width: 33%;
	height: 33%;
	float: left;
}

/***********************/
/*********CAKES*********/
/***********************/

p.cakepage {
	border: 1px solid rgb(2, 132, 130);
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	text-align: left;
}

h1.cakepage {
	margin-top: 50px;
}

/***********************/
/********CONTACT********/
/***********************/

/***********************/
/*********BLOG**********/
/***********************/